pdfplumber
nltk
spacy
reportlab
fuzzywuzzy
python-Levenshtein
keybert
scikit-learn
streamlit

# Add other libraries if needed

# Install spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

